---
import MainLayout from "../layouts/MainLayout.astro";


---
<MainLayout title="Pokemon Static | 404">
    <h1 class="text-3xl font-bold">404 | Página no encontrada</h1>
    <hr />
    <p class="mt-5">La página que buscas no existe</p>
    <img
        class="mt-5"
        src="/snorlax.png"
        alt="Imagen de snorlax"
    />