---
import { Counter } from "@components/Counter";
import { FavoritePokemons } from "@components/pokemons/favoritesPokemons";
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";


---
<MainLayout title="Mis pokemones Favoritos">
    <Title>Pokemones Favoritos</Title>
    <FavoritePokemons client:only="solid-js"/>
</MainLayout>
